<div class="menu">
  <a href="#" class="icon-main">C</a>
  <a href="#skills" class="icon-skills"></a>
  <a href="#projects" class="icon-projects"></a>
  <a href="#contact" class="icon-contact"></a>
  <div class="divider"></div>
  <a
    href="https://www.linkedin.com/in/camila-machado-46814015b"
    class="icon-linkedin" target="_blank"
  ></a>
  <a href="https://github.com/sra-mac" class="icon-github" target="_blank"></a>
  <a href="#" class="icon-youtube" target="_blank"></a>
</div>

<section class="main">
  <div class="content">
    <div class="leftside">
      <h1>
        Hi, <br />
        I'm <span>C</span>amila Machado, <br />
        web developer
      </h1>
      <button class="btn-contact">Entrar em contato</button>
    </div>
    <div class="img"></div>
  </div>
</section>
<section class="skills" id="skills">
  <h1>Competências</h1>

  <p>Backend</p>
  <div class="loading backend"></div>

  <p>Frontend</p>
  <div class="loading frontend"></div>

  <p>DevOps</p>
  <div class="loading devops"></div>

  <p>Mobile</p>
  <div class="loading mobile"></div>
</section>
<section class="projects" id="projects">
  <h1>
    Portifólio e <br />
    Experiências
  </h1>

  <div class="boxes">
    <div class="box blue"><a target="_blank" href="#">Project 1</a></div>
    <div class="box red">Project 12</div>
    <div class="box blue">Project 13</div>
  </div>

  <div class="boxes">
    <div class="box orange">Project 14</div>
    <div class="box green">Project 15</div>
    <div class="box orange">Project 16</div>
  </div>
</section>
<section class="contact" id="contact">
  <h1>
    Entrar em <br />
    contato
  </h1>
  <div class="form">
    <div class="row">
      <input type="text" class="input" placeholder="Nome" [(ngModel)]="name" />
      <input type="text" class="input" placeholder="Email" [(ngModel)]="email"/>
    </div>
    <input type="text" class="input" placeholder="Assunto" [(ngModel)]="subject"/>
    <textarea cols="30" rows="10" class="textarea" placeholder="Mensagem" [(ngModel)]="message"></textarea>
    <button class="submit" type="submit" (click) = "sendMessage()">Enviar</button>
  </div>
</section>
